.hidden {
  display: none;
}

html, body {
  width: 500px;
  height: 300px;
  background-color: #222222;
  overflow: hidden;
}

#eval-bar {
  height: 80%;
  width: 5%;
  background-color: #dfdfdf;
  position: absolute;
  top: 0;
  left: 0;
}

#eval-bar > div {
  background-color: #101010;
  position: -webkit-sticky;
  position: sticky;
}

#eval-bar span {
  font-size: 7px;
  font-family: sans-serif;
  position: absolute;
  width: 100%;
  text-align: center;
}

#board {
  height: 80%;
  width: 48%;
  position: absolute;
  top: 0;
  left: 5%;
}

#board > img {
  max-height: 80vh;
}

#playerInfo {
  position: absolute;
  left: 51.5%;
  width: 48.5%;
  top: 0;
}

#results > img {
  position: absolute;
  width: 10%;
  left: calc(24.25vw - 5%);
  top: calc(10vh + 20px);
  height: 32.5vh;
}

#moveEval {
  height: 28.5vh;
  position: absolute;
  top: 49vh;
  left: 5vw;
  width: 38vw;
}

#evalGraph {
  position: absolute;
  top: 80vh;
  height: 20vh;
  left: 0;
  width: 51.6vw;
}

#controls {
  height: 20vh;
  position: absolute;
  top: 80vh;
  left: 53vw;
  width: 23vw;

}

#settings {
    height: 20vw;
    position: absolute;
    top: 80vh;
    left: 76vw;
    width: 23vw;
}

.pName {
  position: absolute;
  border: 5px solid white;
  width: calc(50% - 20px);
  top: 0;
  padding: 5px;
  height: 9vh;
}

.pName > span {
  color: #afafaf;
  font-family: sans-serif;
}
