.hidden {
  display: none;
}

html, body {
  width: 500px;
  height: 300px;
  background-color: #222222;
  overflow: hidden;
}

#eval-bar {
  height: 80%;
  width: 5%;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
}

#board {
  height: 80%;
  width: 48%;
  position: absolute;
  top: 0;
  left: 5%;
}

#board > img {
  max-height: 80vh;
}

#playerInfo {
  position: absolute;
  left: 53%;
  width: 47%;
}

#results > img {
  position: absolute;
  width: 10%;
  left: 18.5vw;
  right: 18.5vw;
  top: 15vh;
  height: 32.5vh;
}

#moveEval {
  height: 28.5vh;
  position: absolute;
  top: 49vh;
  left: 5vw;
  width: 38vw;
}

#evalGraph {
  position: absolute;
  top: 80vh;
  height: 20vh;
  left: 0;
  width: 51.6vw;
}

#controls {
  height: 20vh;
  position: absolute;
  top: 80vh;
  left: 53vw;
  width: 23vw;

}

#settings {
    height: 20vw;
    position: absolute;
    top: 80vh;
    left: 76vw;
    width: 23vw;
}

.pName {
  position: absolute;
}
