.hidden {
  display: none;
}

html, body {
  width: 500px;
  height: 300px;
  background-color: #222222;
  overflow: hidden;
}

#eval-bar {
  height: 80%;
  width: 5%;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
}

#board {
  height: 80%;
  width: 48%;
  background-color: green;
  position: absolute;
  top: 0;
  left: 5%;
}
